@font-face {
  font-family:"poppins";
  src:url(./fonts/Poppins-Light.ttf);
  font-weight:300;
}

@font-face {
  font-family:"poppins";
  src:url(./fonts/Poppins-Regular.ttf);
  font-weight:400;
}

@font-face {
  font-family:"poppins";
  src:url(./fonts/Poppins-Medium.ttf);
  font-weight:500;
}

@font-face {
  font-family:"poppins";
  src:url(./fonts/Poppins-SemiBold.ttf);
  font-weight:600;
}

@font-face {
  font-family:"poppins";
  src:url(./fonts/Poppins-Bold.ttf);
  font-weight:700;
}

@font-face {
  font-family:"Inter";
  src:url(./fonts/Inter-Light.woff2) format("woff2"),
  url(./fonts/Inter-Light.woff) format("woff");
  font-display:auto;font-style:normal;font-weight:300;font-stretch:normal;
}

@font-face {
  font-family:"Inter";
  src:url(./fonts/Inter-Regular.woff2) format("woff2"),
  url(./fonts/Inter-Regular.woff) format("woff");
  font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

@font-face {
  font-family:"Inter";
  src:url(./fonts/Inter-Medium.woff2) format("woff2"),
  url(./fonts/Inter-Medium.woff) format("woff");
  font-display:auto;font-style:normal;font-weight:500;font-stretch:normal;
}

@font-face {
  font-family:"Inter";
  src:url(./fonts/Inter-SemiBold.woff2) format("woff2"),
  url(./fonts/Inter-SemiBold.woff) format("woff");
  font-display:auto;font-style:normal;font-weight:600;font-stretch:normal;
}

@font-face {
  font-family:"Inter";
  src:url(./fonts/Inter-Bold.woff2) format("woff2"),
  url(./fonts/Inter-Bold.woff) format("woff");
  font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;
}

@font-face {
  font-family:"Inter";
  src:url(./fonts/Inter-ExtraBold.woff2) format("woff2"),
  url(./fonts/Inter-ExtraBold.woff) format("woff");
  font-display:auto;font-style:normal;font-weight:800;font-stretch:normal;
}

@font-face {
  font-family:"Open Sans";
  src:url(./fonts/OpenSans-VariableFont.ttf);
}

@font-face {
  font-family:"Reem Kufi";
  src:url(./fonts/ReemKufi-VariableFont_wght.ttf);
}