html {
    -webkit-text-size-adjust: 100%;
    position: relative;
}

footer {
    font-family: Open Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    font-size: 1.01rem;
    line-height: 1.6;
    /* margin-top: 200%; */
}

span {
    display: block;
}

#bottom-footer {
    background: #14315C;
}

.bottom-footer-container {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    max-width: 1420px;
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}

.break {
    order: 2;
    width: 100%;
    flex-basis: 100%;
    height: 10px;
    margin: 0;
    border: 0;
}

#bottom-footer-header {
    margin-left: 36px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24.96px;
    line-height: 37px;
    color: #FFFFFF;
    order: 0;
}

#bottom-footer-sub-header {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18.72px;
    line-height: 40px;
    color: #FFFFFF;

}

#bottom-footer-contact-us {
    margin-right: 36px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 22.88px;
    line-height: 34px;
    text-align: right;
    color: #FFFFFF;
    order: 1;
}

#bottom-footer-contact-links {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
}

#bottom-footer-contact-links a {
    text-decoration: none;
    color: #FFFFFF;
    margin-left: 10px;
}

#bottom-footer-follow-us {
    margin-left: 36px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 22.88px;
    line-height: 34px;
    color: #FFFFFF;
    order: 3;
}

#bottom-footer-follow-us-links {
    margin-top: 1rem;
}

.bottom-footer-social-media-imgs {
    margin-left: 10px;
}

#bottom-footer-gov-links {
    margin-right: 36px;
    order: 4;
}

#bottom-footer-gov-links a {
    text-decoration: none;
    display: block;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14.24px;
    line-height: 18px;
    text-align: right;
    color: #FFFFFF;
}

@media (max-width: 1023px) {
    #bottom-footer-header {
        margin-left: 1rem;
    }

    .bottom-footer-container {
        flex-direction: column;
    }

    .break {
        display: none;
    }

    #bottom-footer-contact-us {
        margin-left: 1rem;
        margin-top: 0.5rem;
        text-align: left;
    }

    #bottom-footer-contact-links a {
        display: block;
        margin-left: 0px;
        margin-right: 10px;
        white-space: nowrap;
    }
    #bottom-footer-gov-links {
        text-align: left;
    }
    #bottom-footer-follow-us-links {
        margin-top: 0.75rem;
    }
    #bottom-footer-follow-us {
        margin-top: 0.75rem;
        margin-left: 1rem;
    }
    #bottom-footer-gov-links {
        margin-right: 0px;
        margin-top: 0.75rem;
        margin-left: 1rem;
    }
    #bottom-footer-gov-links a {
        text-align: left;
    }
}