#stt {
    background: #007bbd;
    border-top-left-radius: 100%;
    color: #fff;
    position: fixed;
    right: 0;
    bottom: 0;
    height: 75px;
    width: 75px;
    font-size: .76rem;
    font-weight: 600;
    text-align: center;
    align-content: center;
    padding: 35px 6px 0 16px;
    text-decoration: none;
    line-height: 1.2;
    transition: all 0.25s ease-out;
}

#stt:active {
    outline: solid 2px #2491ff;
}

#stt::after {
    content: "";
    display: none;
}

/*
Tablet/Phone less than 768 px width and greater than greater than 375
*/
@media (max-width: 907px) and (min-width:375px) {
    #stt-span {
        display: none;
    }

    #stt::after {
        background:none;
        background-color: #fff;
        -webkit-mask: url("../images/Up Arrow.svg") no-repeat center/contain;
        mask: url("../images/Up Arrow.svg") no-repeat center/contain;
        display: inline-block;
        height: 4ex;
        margin-left: 1px;
        vertical-align: middle;
        width: 4ex;
        color:white;
    }

}